/* Category */
.category-list-item {
  width: 335px;
  height: 500px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.category-home-dots {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 20px;
}
.category-home-dots__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
}
.category-home-dots__item.less-than {
  transform: rotate(180deg);
}
.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: transform 1s ease;
}

.category-item__title {
  width: 178px;
  height: 40px;
  font-size: 2.4rem;
  font-family: "Geologica", sans-serif;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 22%;
  cursor: pointer;
}

.category-list {
  display: flex;
  justify-content: space-between;
}
.category-home {
  padding-bottom: 30px;
}

.category-list-item__overlay {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(17, 12, 14, 0.434);
  opacity: 0;
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
}

/* Seller */
.best-seller {
  padding-bottom: 100px;
}
.category-best-seller {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.category-best-seller-item a {
  font-family: "Geologica", sans-serif;
  font-weight: bold;
  font-size: 3.2rem;
}

.category-best-seller-item {
  position: relative;
}
.category-best-seller-item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -10px;

  z-index: 1;
}
/* best seller section */
.product-list-best-seller {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

/* Review section */
.review-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(/eCommercial-Fashion/src/assets/background.jpg);
  background-size: cover;
}
.review-section {
  font-family: "Geologica", sans-serif;
}
.review {
  display: flex;
}
.review-text {
  text-align: center;
  color: #fffbfb;
}
.rt1 {
  margin: 0px;
  padding-top: 70px;
  font-size: 35px;
}
.rt2 {
  margin: 0px;
  padding-top: 15px;
  font-size: 26px;
}
.review-box {
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 170px;
  font-size: 32px;
  color: #fffbfb;
  background-color: #272727e5;
  position: relative;

  padding: 10px;
}
.review-icon {
  margin: 5%;
  display: block;
  position: relative;
  left: 35%;
  aspect-ratio: 1 / 1; /* ép về tỉ lệ */
  object-fit: cover;
  width: 70px;
  border-radius: 100%;
}
