.product-section {
  padding-top: 130px;
}
.product-section-main-content {
  display: flex;

  margin-top: 30px;
  gap: 20px;
}
/*======================== filter=========================== */
.filter {
  width: 400px;
  padding: 0 30px;
  padding-bottom: 50px;
}
.filter-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-family: "Geologica", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

/*========== filter-category ============*/
.category-header-filter {
  font-family: "Geologica", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}
.category-list__header img {
  width: 13px;
  height: 13px;
  object-fit: cover;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.category-filter-value {
  cursor: pointer;
}
.category-list__header {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid rgb(75, 70, 70);
}
.category-filter-value.active {
  color: rgb(158, 158, 7);
}
.category-list-body {
  font-size: 1.6rem;
  font-family: "Geologica", sans-serif;
}
.container-caret {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.caret-toggle::after {
  content: "";
  background-image: url("../../assets/dropdown-icon.svg");

  background-size: cover;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.caret-toggle:hover {
  cursor: pointer;
}
.caret-toggle {
  padding: 10px;
}
.caret {
  display: inline-block;
  font-size: 2rem;

  cursor: pointer;
  user-select: none;
  padding-bottom: 10px;
}
.category-list__toggle-btn {
  font-size: 1.8rem;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  color: rgb(97, 86, 86);
}

.nested li {
  line-height: 25px;
  margin-top: 10px;
  margin-left: 18px;
}
.nested {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.caret.active {
  color: rgb(158, 158, 7);
}

.nested.show {
  max-height: 1000px;
}
.category-list-product-page {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

/* ===================filter-group================ */
.filter-group {
  padding-top: 20px;
}

.filter-header img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.filter-group__header {
  font-family: "Geologica", sans-serif;
  font-size: 1.6rem;
  color: rgb(62, 64, 66);
  padding-top: 30px;
}

.filter-group {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-left: 10px;
}
.category-searching-filter {
  border-bottom: none;
}
/*======================= check-box-filter ==============*/
.checkbox-filter {
  margin-bottom: 20px;
}

.stick-checkbox {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid rgb(11, 11, 11);
  border-radius: 3px;
  margin-right: 7px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.stick-checkbox svg {
  display: none;
}
.checkbox.selected svg {
  display: inline;
}
.stick-checkbox img {
  color: red;
}
.checkbox {
  display: flex;
  align-items: center;
  user-select: none;
}
.checkbox-label {
  font-family: "Geologica", sans-serif;
  cursor: pointer;
}
.filter-group__toggle-btn {
  font-size: 1.6rem;
  color: rgb(97, 86, 86);
  border: none;
  background-color: transparent;
  padding-left: 20px;
}

/* sort-bar */
.sort-bar {
  display: flex;
  justify-content: space-between;
}
.price-btn,
.sort-bar-btn {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 12px;
}
.price-btn {
  background-color: rgb(232, 234, 234);
  width: 200px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-bar-btn {
  padding: 12px;
  margin-right: 14px;
}
.sort-bar-btn.active {
  background-color: rgb(253, 245, 35);
  border-radius: 5px;
}
.right-product-section {
  width: 100%;
}
/* =================pagination==================== */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 70px;
  margin-top: 40px;
}
.disable-pagination-link {
  pointer-events: none;
}
.pagination-btn {
  border: none;
  padding: 10px;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  width: 36px;
  height: 35px;
  border: 3px;
  text-decoration: none;
  text-align: center;
}
.pagination-btn:active {
  color: black;
}

.pagination-ellipsis {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #666;
  padding: 10px 5px;
  user-select: none;
  pointer-events: none;
}

.next-btn {
  transform: rotate(180deg);
}

.next-btn img,
.prev-btn img {
  width: 15px;
  height: 15px;
}
.next-btn {
  margin-left: 15px;
}
.prev-btn {
  margin-right: 15px;
}
.pagination-btn.active {
  background-color: rgb(235, 191, 17);
}
/* ==========================range-price-filter========================== */
.price-range-filter__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.price-range-filter__input {
  width: 80px;
  height: 30px;
}
.price-range-filter__range-line {
  border-bottom: 1px solid black;
  height: 1px;
  width: 20px;
}

.price-range-filter__input::placeholder {
  font-family: "Roboto", sans-serif;
}
.price-range-filter__input:focus {
  outline: none;
}
.apply-btn {
  width: 100%;
}
