.admin {
  display: flex;
  font-family: "Inter", sans-serif;
  height: 100%;
}

.main-content__admin {
  width: 95%;
  margin: auto auto;
}
.vertical-line {
  border-right: 1px solid black;
  height: 30px;
}

.admin__nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #0a1727;
  height: 100vh;
  width: 15%;
  border-right: 4px solid gray;
  color: rgb(0, 194, 0);
}

.admin__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.admin__category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  padding-left: 15px;
}

.admin__category button {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(0, 194, 0);
  font-family: "Inter", sans-serif;
  font-size: medium;
}

.admin__category li {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.icon {
  width: 20px;
}

.icon2 {
  width: 30px;
}

.admin__main {
  background-color: rgb(224, 233, 232);
  width: 85%;
}

.admin__header {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 20px;
  margin: 30px;
  padding: 40px;
  height: 0.3vh;
  border: 1px outset;
}

.admin__header--left {
  display: flex;
  align-items: center;
  gap: 35px;
  width: 50%;
}

.admin__homepage--text {
  font-weight: bold;
  font-size: large;
}

.search-bar {
  background-color: rgb(215, 215, 215);
  width: 300px;
  border: 1px solid rgb(43, 43, 43);
  border-right: none;
}

.admin__search-bar button {
  white-space: nowrap;
  background-color: rgba(86, 93, 189, 1);
  color: white;
  position: absolute;
  border: 1px solid rgb(43, 43, 43);
  border-left: none;
  font-family: "Inter", sans-serif;
}

.admin__header--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 50%;
  padding-right: 20px;
}

.logo {
  text-align: center;
}
.logo img {
  width: 150px;
}

.admin__option {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 5px;
  height: 450px;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 20px;
  color: black;
  background-color: white;
  white-space: nowrap;
}

.admin__option:hover {
  background: linear-gradient(
    180deg,
    rgba(229, 245, 0, 1),
    rgba(205, 110, 9, 1)
  );
  color: white;
}

.option__logo {
  height: 70%;
}

.two-first-line {
  font-size: 30px;
}

.second-line {
  padding-bottom: 40px;
}

/* product manage */
.product-manage {
  padding: 20px;
  background-color: rgb(220, 220, 220);
}
.product-manage__head-top {
  display: flex;
  justify-content: space-between;
}
.product-manage__head-left {
  display: flex;
  justify-content: start;
}
.product-manage__head-left a {
  margin: 5px;
  padding: 10px;
}
.product-manage__head-left .selected {
  color: orange;
  border-bottom: 3px solid orange;
  font-weight: bold;
}
.product-manage-main {
  background-color: white;
  padding: 20px;
}
.product-manage-main-search {
  display: flex;
  gap: 30px;
}
.product-manage-main-result__top {
  padding: 20px 0px;
}

/* cart */
.cart {
  background-color: white;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;

  /* font-family: Geolo; */
  font-family: "Geologica", sans-serif;
}
.cart-info,
.cart-item {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(199, 199, 199);
  border: none;
  align-items: center;
  font-size: medium;
}

.cart-info .product-main {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.cart-item {
  padding: 15px 0px;
  font-size: 12px;
}
.cart-info {
  /* margin-top: 50px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.product-size,
.product-main,
.product-color,
.product-price,
.product-quantity,
.product-total,
.product-action {
  flex-basis: 200px;
  text-align: center;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
}

.product-main__img {
  height: 80px;
}
.cart-item .product-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.product-main__checkbox {
  cursor: pointer;
}
.product-size__select,
.product-color__select {
  width: 50px;
  height: 30px;
}
.product-size__select option,
.product-color__select option {
  background-color: rgb(255, 255, 255);
  border: none;
}
.product-size__select option:hover,
.product-color__select option:hover {
  background: rgb(125, 51, 51);
}

.product-price__old-price {
  color: grey;
  text-decoration: line-through;
  font-size: 13px;
}
.product-price__current-price,
.product-total {
  font-size: 15px;
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product-quantity__input {
  width: 30px;
  height: 25px;
  background-color: transparent;
  border-color: #d9d9d9;
  border: 1px solid;
  border: none;
}
.product-quantity__button {
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
}
.product-action__button {
  border: none;
  background-color: transparent;
  padding: 10px;
  font-weight: bold;
}
.product-action__button:hover {
  background-color: rgb(220, 92, 92);
  padding: 10px;
  color: white;
  font-weight: bold;
}
.cart {
  border: 1px solid black;
}

.product-manage-main-search__button {
  padding: 5px 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid gray;
}
.product-manage-main-search__button1 {
  color: yellow;
  background-color: black;
}
.product-manage__head {
  background-color: white;
  margin-bottom: 20px;
}

.product-manage__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
}
.product-manage__head-left a {
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.product-manage__head-right button {
  padding: 5px 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid gray;
  color: yellow;
  background-color: black;
}
.product-manage {
  background-color: rgb(224, 233, 232);
}

.name-sku {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.product-main__img-sku {
  height: 50px;
}

.name-sku div {
  font-size: 1rem;
  font-weight: normal;
  text-align: start;

  padding-top: 5px;
  padding-left: 0px;
}

.checkbox-sku {
  display: none;
}
.cart-item .product-main-sku {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.product-manage-main-result__top--quantity {
  font-weight: bold;
}
.skus {
  background-color: #f8f6f6;
}
.link-see-more {
  display: flex;
  justify-content: end;
}
.link-see-more a {
  color: black;
  margin-right: 150px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.disable-pagination-link {
  pointer-events: none;
}
.pagination-btn {
  border: none;
  padding: 10px;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  width: 36px;
  height: 35px;
  border: 3px;
  text-decoration: none;
  text-align: center;
}
.pagination-btn:active {
  color: black;
}

.next-btn {
  transform: rotate(180deg);
}

.next-btn img,
.prev-btn img {
  width: 15px;
  height: 15px;
}
.next-btn {
  margin-left: 5px;
}
.prev-btn {
  margin-right: 5px;
}
.pagination-btn.active {
  background-color: transparent;
}
/* end pagi */

.product-manage-main-result__end {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 30px;
  gap: 80px;
}
.page-index-track {
  padding: 15px;
  background-color: black;
  color: white;
}
.noti-message {
  color: gray;
}
