.black-yellow__button {
  background-color: black;
  color: yellow;
  width: 120px;
}

.blue__button {
  color: white;
  background-color: rgba(86, 93, 189, 1);
  border: grey;
}
.admin {
  display: flex;
  font-family: "Inter", sans-serif;
  /* height: 100%; */
}
body {
  background-color: rgb(224, 233, 232);
}
.main-content__admin {
  width: 95%;
  margin: auto auto;
}
.vertical-line {
  border-right: 1px solid black;
  height: 30px;
}

.admin__nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #0a1727;
  height: 100vh;
  width: 15%;
  border-right: 4px solid gray;
  color: rgb(0, 194, 0);
}

.admin__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.admin__category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  padding-left: 15px;
}

.admin__category button {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(0, 194, 0);
  font-family: "Inter", sans-serif;
  font-size: medium;
}

.admin__category li {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.icon {
  width: 20px;
}

.icon2 {
  width: 30px;
}

.admin__main {
  width: 100%;
}

.admin__main--container {
  background-color: white;
  margin: 40px;
  height: 90%;
}

.admin__main--top {
  display: flex;
  align-items: center;
}

.date-flexbox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
  font-weight: bold;
}

.admin__main--top > div {
  width: 33%;
}

.admin__main--title {
  font-size: x-large;
  text-align: center;
  width: 33%;
}

.admin__main--middle {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.middle--left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  width: 50%;
}

.inputs-flexbox {
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs input {
  background-color: #d9d9d9;
  width: 200px;
  border: 1px solid gray;
}

.save-button {
  position: relative;
  right: -250px;
}

.sku__container td,
th {
  text-align: center;
  padding: 10px;
}

.sku__container tr {
  border-bottom: 1px solid black;
}

.sku__container {
  border: 1px solid black;
  margin-left: 15px;
}

.search__button {
  padding: 5px;
  font-size: small;
}

.middle--right {
  width: 50%;
  border: 1px solid black;
  margin-right: 15px;
}

.search-bar {
  display: flex;
  gap: 5px;

  border-bottom: 1px solid black;
  padding: 25px 25px;
}

.search-bar input {
  width: 90%;
  background-color: #d9d9d9;
  border: 1px solid grey;
}

.import-products {
  display: flex;
  align-items: center;
  gap: 20px;
  /* border-bottom: 1px solid black; */
  padding: 20px 0px 20px 20px;
}

.view-more__sku {
  position: relative;
  right: -130px;
  margin-bottom: 20px;
}

.import-products img {
  width: 60px;
}

.product--columns {
  border-bottom: 1px solid black;
}
