#address-form-popup {
  display: none;
  z-index: 1000;
  position: fixed;
  width: 550px;
  padding: 10px 24px;
  background-color: rgb(252, 252, 252);
  top: 20%;
  left: 30%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.155);
}

.address-form-container .form-group {
  display: inline-block;
}
.address-form {
  width: 400px;
}
.address-form-action button {
  font-size: 1.7rem;
  width: 140px;
  padding: 10px 0px;
  border-radius: 4px;
}
.address-form-action {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.address-form-action button:hover {
  opacity: 0.7;
}
