.navbar-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.navbar-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  outline: none;
}
.nav-item {
  font-size: 1.6rem;
  font-family: "Geologica", sans-serif;
  outline: none;
  padding: 10px;
}

.nav-item.active a {
  color: #c9b909;
}
